%header#page-header
  = partial('includes/modules/nav/breadcrumbs')
  %h1 Page title
   
#sidebar
  %h3 Page title
  = partial('includes/modules/nav/nav')

#content
  = partial('includes/modules/kitchen-sink')
