%footer#site-footer
  .copyright &copy; Sequence 2012
  %nav#footer-nav
    %ul
      %li
        %a{:href=>"", :title=>"Sitemap"} Sitemap
      %li
        %a{:href=>"", :title=>"Terms &amp; Conditions"} Terms &amp; Conditions
      %li
        %a{:href=>"", :title=>"Privacy Policy"} Privacy Policy
      %li
        %a{:href=>"", :title=>"Accessibility"} Accessibility
      %li
        %a{:href=>"", :title=>"Cookies"} Cookies
  %nav.social-links
    %ul
      %li
        %a.twitter{:href=>"http://www.twitter.com", :title=>"Twitter", :target=>"_blank", :rel=>"nofollow"} Twitter
      %li
        %a.facebook{:href=>"http://www.facebook.com", :title=>"Facebook", :target=>"_blank", :rel=>"nofollow"} Facebook

