%footer#site-footer
  = partial('includes/modules/social/twitter')
  = partial('includes/modules/social/facebook')

  %nav
    %li
      %a Sitemap
    %li
      %a Terms &amp; Conditions
    %li
      %a Privacy Statement
