%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}
%script{:src => "js/sequence/utils/utils.js"}
%script{:src => "js/sequence/utils/date/dateutils.js"}
%script{:src => "js/sequence/effects/transition.js"}
%script{:src => "js/sequence/modules/twitter.js"}
%script{:src => "js/sequence/modules/coffeeslider.js"}
%script{:src => "js/sequence/client_name/app.js"}