- structure = [{:href=>"index", :title=>"Home"},
   {:href=>"news", :title=>"News"},
   {:href=>"gallery", :title=>"Gallery"},
   {:href=>"search-results", :title=>"Search Results"},
   {:href=>"blog", :title=>"Blog"},
   {:href=>"login", :title=>"Login"},
   {:href=>"contact-us", :title=>"Contact us"}]

%nav#site-nav.nav-bar
  %ul
    - structure.each do |page|
      %li
        %a{:href=>"/#{page[:href]}"}
          #{page[:title]}