- structure = [{:href=>"index", :title=>"Home"},
   {:href=>"about-us", :title=>"About Us"}, 
   {:href=>"projects", :title=>"Projects"}, 
   {:href=>"news", :title=>"News"},
   {:href=>"events", :title=>"Events"},
   {:href=>"contact-us", :title=>"Contact us"}]

%nav#site-nav
  %ul
    - structure.each do |page|
      %li
        %a{:href=>"/#{page[:href]}"}
          #{page[:title]}