%section#contact-widget.widget
  .map
    - img_placehold 306, 200
  %a.read-more
    View larger map &rarr;
    
  .vcard
    %h4 Address
    .org Your Company
    .adr
      .street-address Building name
      .locality City
      .postal-code PO57 C07
    %h4 Phone
    .tel 0800 888000 
    %h4 Email
    %a.email{:href => "mailto:help@company.co.uk"} help@company.co.uk