%section#subscribe.widget
  %header
    %h3 Subscribe 
  
  %ul
    %li
      %a{:href=>"#",:class=>"RSS"}
        Subscribe via RSS
    %li
      %a{:href=>"#",:class=>"email"}
        Subscribe via Email
    %li
      %a{:href=>"#",:class=>"twitter"}
        Follow us on Twitter
    %li
      %a{:href=>"#",:class=>"facebook"}
        Like our Facebook Page