%section#subscribe.widget
  %ul
    %li
      %a{:href=>"#",:class=>"RSS"}
    %li
      %a{:href=>"#",:class=>"email"}
    %li
      %a{:href=>"#",:class=>"twitter"}
    %li
      %a{:href=>"#",:class=>"facebook"}