/START breadcrumbs
%nav.breadcrumbs
  %ul
    %li.home
      %a{:href=>"/"} Home
    %li
      %a.active{:href=>"landing-page.html"} Second-level
    %li
      %a{:href=>"content-page.html"} Third-level
/END breadcrumbs