%nav#secondary-nav
  %ul
    - 3.times do
      %li
        %h4
          Section Title
        %ul
          - 5.times do
            %li
              %a{:href=>"generic-page.html", :title=>"Generic Page"}
                Page Title