%nav#site_nav
	%ul
		%li
			%a{:href => ""} Home
		%li
			%a{:href => ""} What we do
		%li
			%a{:href => ""} About Us
		%li
			%a{:href => ""} News & Events
		%li
			%a{:href => ""} Careers
		%li
			%a{:href => ""} Find Us
		%li
			%a{:href => ""} Contact Us