/START mini-search
%section.mini-search
  %label{:for=>"#{name}"} Search
  %input.field-search{:type=>"text",
    :placeholder=>"Enter keyword",
    :id=>"#{name}"}
  %input.btn-search{:type=>"submit", :value=>"Go"}
/END mini-search

