/START Search-media-type
%section#search-media-type.widget
  %h2
    Media Type
  %input{:type=>"checkbox", :name=>"Pages", :id=>"pages"}
  %label{:for=>"pages"}
    Pages
  %input{:type=>"checkbox", :name=>"news-items", :id=>"news-items"}
  %label{:for=>"news-items"}
    News Item
  %input{:type=>"checkbox", :name=>"Events", :id=>"events"}
  %label{:for=>"events"}
    Events
  %input{:type=>"checkbox", :name=>"Videos", :id=>"videos"}
  %label{:for=>"videos"}
    Videos
  %input{:type=>"checkbox", :name=>"Downloadable documents", :id=>"downloadable-docs"}
  %label{:for=>"downloadable-docs"}
    Downloadable Documents
  %input{:type=>"submit", :value=>"Apply"}
/END Search-media-type