/ START .news-item
%a{:href=>"news-article.html", :title=>"Summary of news article", :class=>"#{featured ? 'news-item featured' : 'news-item'}"}
  %article
    %header
      %h2
        = lorem.words (3 + rand(5))
      %time{:datetime=>"2009-11-13T20:00Z"}
        19th August 2012

    - if featured    
      .row    
        %figure
          - img_placehold 320, (320/16)*9
          
    %section{:class=>"#{featured ? 'copy span9' : 'copy span6'}"}
      %p
        = lorem.sentences (3 + rand(5))
      %footer
        %span.read-more
          Read more >
/ END .news-item