/********************************************
*
* Search
*
********************************************/

#search {
  .search-results-header {
    border: 1px solid $light-grey;
    background: $really-light-grey;
    padding: $baseline * 2;
    margin: 0 0 $baseline * 2 0;
    overflow: hidden;
    .field-search {
      width: 440px;
    }
    .results {
      float: left;
    }
    .sort {
      float: right;
    }
  }
  .result-list {
    margin-bottom: $baseline * 2;
    li {
      border-bottom: 1px solid $borders;
      margin-bottom: $baseline * 2;
      &:last-child {
       border: none; 
      }
    }
  }
  #search-filter {
    select {
      width: 100%;
      display: block;
      margin-bottom: $baseline * 2;
      
    }
    input {
      width: 100%;
      display: block;
    }
  }
}