%a.widget.cta{:href => "#", :title => "Title"}
  %h3 Call to action     
  %figure
    - img_placehold 280, 180
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
  %span.read-more Read more >
