/START CTA list
%section.cta-list
  .row
    - if defined? count
      - num = count
    - else
      - num = 3
    - num.times do |i|
      .span3
        = partial('includes/modules/cta/generic-cta')
/END CTA list