%section#cta-subscribe.widget
  %header
    %h3 Subscribe to our newsletter 
  
  %p
    optional text to explain why you should sign up to the newsletter.

  %label{:for=>"email-sign-up"}
    Your email address
  %input{:name=>"Email Subscribe", :id=>"email-sign-up", :type=>"email", :}
  %input{:type=>"submit", :value=>"Subscribe"}