/START Generic CTA
%section.cta.col-3
  %a{:href => "#", :title => "Title"}
    %figure
      - img_placehold 222, (222/4)*3
    %h3 
      = lorem.words 1 + rand(2)
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    %span.button{:href=>""}
      Call to action &rarr;
/END Generic CTA