/START Generic CTA
%a.cta{:href => "#", :title => "Title"}
  %figure
    - if defined? width
      - img_placehold width, height
    - else
      - img_placehold 222, 140
  %h3
    #{i}. 
    = lorem.words 1 + rand(2)
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

/END Generic CTA