-############################################
-#
-#  @author 
-#  @version 0.1
-#
-#  Carousel
-#
-############################################

%section#carousel
  - ['333', '111', '000'].each do |colour|
    %figure
      = image_tag("http://placehold.it/640x480/#{colour}")
      