/ START #contact-form
%form#contact-form
  %span.required
    *indicates required field

  - form_textbox "forename", "First Name", "e.g. Rhodri", true, "text", "Enter name", 9
  - form_textbox "surname", "Surname", "e.g. Jones", true
  - form_textbox "email", "Email", "you@yourdomain.com", true, "email"
  - form_textbox "phone", "Telephone", "0123 4567890"

  %fieldset
    %legend Favourite colours
    - form_checkbox "checkbox_1", "Blue"
    - form_checkbox "checkbox_2", "Red"
    - form_checkbox "checkbox_3", "Pink"

  - form_selectbox "selectbox_1", "Category"
  - form_selectbox "selectbox_2", "Categories", false, "multi"

  - form_textbox "text_1", "Message", "Enter Comments", true, "textarea"

  %input{:type=>"submit", :value=>"Send message"}
/ END #contact-form