/ START #contact-form
%form#contact-form
  %span.required
    *indicates required field
  .field
    %label{:for=>"first-name", :accesskey=>"9"}
      First Name
      %span *
    %input{:type=>"text", :name=>"first-name", :placeholder=>"e.g. Rhodri"}
  .field
    %label{:for=>"first-name"}
      Surname
      %span *
    %input{:type=>"text", :name=>"surname", :placeholder=>"e.g. Jones"}
  .field
    %label{:for=>"email"}
      Surname
      %span *
    %input{:type=>"text", :name=>"email", :placeholder=>"you@yourdomain.com"}
  .field
    %label{:for=>"message"}
      Message
      %span *
    %textarea{:type=>"text", :name=>"message", :rows=>"10", :placeholder=>"your message"}
  %input{:type=>"submit", :value=>"Send message"}
/ END #contact-form