%section#events-widget
  %h1
    Upcoming events
  - (2 + rand(2)).times do
    %a.event-item{:href=>"#",:title=>"Brief summary of article"}
      %h2
        Event title
      %time{:datetime=>"2012-04-13"}
        13th April 2012
      %p
        = lorem.words (6 + rand(20))
  %a.read-more{:href=>"#",:title=>"View all events"}
    All Events &rarr;