/START fb-like
.fb-like{"data-href" => "http://www.github.com/sequencelabs/mego", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "150"}
/END fb-like