/ START .gallery
%section.gallery
  / START .carousel
  %section.gallery-carousel
    - i = 0
    - 12.times do |i|
      %figure{:class=>"figure-#{i}"}
        /- img_placehold 978, 480, "Slide #{i}"
        %img{:src=>"http://lorempixel.com/978/480/abstract/#{i}"}

        %figcaption
          = lorem.sentences 1+rand(1)
  / END .carousel
  
  %section.thumbnails
   
/END .gallery