/ START .gallery
%section.gallery
  = partial('includes/modules/carousel')
  
  %section.thumbnails
    - j = 0
    - ['F15A22', '00AAAD', 'B2D235', 'AB4A9C', 'ED1164'].each do |colour|
      - j = j+1
      %figure{:class=>"figure-#{j}"}
        - img_placehold 240, 180, "Slide #{j}"
        
/END .gallery