%section.cta.col-4
  %a{:href => "#", :title => "Title"}
    = image_tag("http://placehold.it/306x200/ededed/cccccc&text=#{i+1}")
    %h4 CTA Title
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    %a.button{:href=>""}
      Call to action &rarr;
      