-############################################
-#
-#  @author Nadhim Orfali
-#  @version 0.1
-#
-#  Generic CTA (can be used as many times)
-#
-############################################

%section.cta.col-4
  %a{:href => "#", :title => "Title"}
    = image_tag("http://ipsumimage.appspot.com/306x100?b=cccccc&l=CTA Image&s=12")
    %h4 CTA Title
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
