%section#mini-search
  %label.off-page Quick Search
  %input.field-search{:type=>"text",
    :value=>"Enter keyword",
    :placeholder=>"Enter keyword"}
  %input.btn-search{:type=>"submit", :value=>"Go"}