%a.news-item{:href=>"news-item.html", :title=>"Summary of featured news item"}    
  %article.news-featured
    %header
      %h2
        = lorem.words (3 + rand(5))
      %time{:datetime=>"2009-11-13T20:00Z"}
        3 hours ago
    = image_tag("http://placehold.it/306x150")
    %p
      = lorem.sentences (3 + rand(5))
    %span.read-more
      Read more &rarr  
