.pagination
  %ul
    - @arr = [1,2,3,4]
    - @arr.each_with_index do |i, idx|
      - if (idx == 0)
        %li.active
          %a= "#{i}"  
      - else
        %li
          %a= "#{i}"
  .prev
  .next
