/START Password-reset
%section#password-reset
  %h2
    Reset password
  %p
    Type your email address below to reset your password.
  %label{:for=>"email-address"}
    Email address
  %input{:type=>"text", :id=>"email-address"}
  %span.invalid
    Email address not found in our system.
  %input{:type=>"submit",:value=>"Reset my password"}
/END Password-reset
/START password-reset-success
%section#password-reset-success
  %p
    We've emailed you a link to reset your password. Please check your email.
  %a.button{:href=>"/"}
    Back to home
/END password-reset-success