- (3 + rand(3)).times do
  %h2
    = lorem.words (1 + rand(3))
  %p
    = lorem.sentences (2 + rand(8))
  %blockquote
    
    = lorem.sentences 2
    
  - (3 + rand(3)).times do
    %p
      = lorem.sentences (2 + rand(8))