/START Search-Filter
%section#search-filter.widget
  %h2
    Search filter
  %select
    %option{:value=>"1",:selected=>"selected"}
      All
    %option{:value=>"2"}
      News
    %option{:value=>"3"}
      Events
  %input{:type=>"submit",:value=>"Apply"}
/END Search-Filter