%a.search-item.document{:href=>"#",:title=>"Brief summary of result"}
  %header
    %h2
      Result Title
    %time{:datetime=>"2012-04-13"}
      13th April 2012
  %p
    = lorem.words (6 + rand(20))