/START site-search
%section.mini-search
  %label{:for=>"search", :accesskey=>"4"} Search
  %input.field-search{:type=>"text",
    :placeholder=>"Enter keyword",
    :id=>"search"}
  %input.btn-search{:type=>"submit", :value=>"Go"}
/END site-search
