#projects {
  #map {
    margin-bottom: $baseline * 3;
  }
  #project-listing {
    ul {
      list-style: none;
    }
    li {
      img {
        margin-bottom: $baseline;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}