//Grid

$col_width: ($width - $grid-gutter-width * ($columns - 1)) / $columns;
$col_total_width: $col_width + $grid-gutter-width;

@mixin col($n: 1) {
  float: left;
  @include buildColumn($n); }

@mixin last {
  margin-right: 0; }

@mixin buildColumn($n: 1) {
  width: $n * $col_width + ($n - 1) * $grid-gutter-width;
  @if $n == 1 {
    @include last; }
  @if $n == columns {
    @include last; }
  @else {
    margin-right: $grid-gutter-width; } }

@for $i from 1 through $columns {
  .col-#{$i} {
    @include col($i);
    &:last-child {
      @include last; } } }

.last {
  margin-right: 0 !important; }
