/********************************************
*
* Main Structure
*
********************************************/

html  {
  background: #ffffff;
}
body {
  color: $default-colour;  
}
.container {
  overflow: hidden;
}
.wrapper {
  width: $width;
  margin: 0 auto;
  height: 100%;
}

#footer {
  padding: 12px 0;
  background: #999;
  width:100%;
  #footer-nav {
    padding: 12px 0;
    background: #999;
    width:100%;
    ul {
      margin:0 auto;
      width:$width;
      li {
        display: inline;
        a {
          color:#333;
          padding: 10px;
          font-weight:normal;
          &:hover{
            color:#fff
          }
        }
      }
    }
  }
}

#page_header .wrapper {
  height: 200px;
  position: relative;
  @if $debug == true and $debug-grid == structure {
    background-color: #f2f2f2;
    &:after {
      content: "HEADER";
      color: $default-colour;
    }
  }
  .logo {
    position: absolute;
    background: transparent url(../images/_logo.png) 0 0 no-repeat;
    width: 100px;
    height: 100px;
    text-indent: -9999px;
    display: block;
    overflow: hidden;
    left: 20px;
    top: 20px;
  }
}


#site_nav {
  padding: 12px 0;
  background: #999;
  width:100%;
  ul {
    margin:0 auto;
    width:$width;
    li {
      display: inline;
      a {
        color:#333;
        padding: 10px;
        font-weight:normal;
        &:hover{color:#fff}
      }
    }
  }
}

#branding {
  padding-top:$baseline;
  clear:both;
  overflow:hidden;
}