


//
//  Configurable settings
//  Use this file to override or customise site
//
//
//  Comments
//  @Project    Acme Ltd
//  @Type       Sitecore/Umbraco, etc.
//  @Version    0.2
//  @Date       19/01/2012
//  @Author     [Name]
//  @BrowserSupport   IE8, IE9, Safari, Firefox, Chrome
//

// colors
$white: #fff;
$black: #242424;
$really-dark-grey: #333;
$dark-grey: #5e5e5e;
$mid-grey: #858585;
$light-grey: #ddd;
$really-light-grey: #f6f6f6;

$red: #990000;

$text-color: $black;
$highlight-colour: #ff0064;

// Base settings
$width: 960px;
$gutters: 20px;
$columns: 12;
$font-size: 16px;
$baseline: 10px;

// Debug helpers
$debug: false;
$debug-grid: griddle; // none, structure, griddle, baseline

// Typography settings
$sans: "Helvetica Neue", Arial, sans-serif;
$serif: "Georgia", "Times New Roman", Times, sans-serif;
$mono: "Monaco", Courier New, monospace;

// Links settings
$links-normal: $highlight-colour;
$links-hover: $highlight-colour;
$links-active: $highlight-colour;
$links-visited: $highlight-colour;
$links-focus: $highlight-colour;

// Border settings
$borders: $light-grey;
$hr-border: $light-grey;

$border-radius: 4px;

::selection {
	background: $highlight-colour; /* Safari */
	}
::-moz-selection {
	background: $highlight-colour; /* Firefox */
}


// Bootstrap Variables


// GRID
// --------------------------------------------------

// Default 940px grid
// -------------------------
$gridColumns:             12 !default;
$gridColumnWidth:         60px !default;
$gridGutterWidth:         20px !default;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)) !default;

// Fluid grid
// -------------------------
$fluidGridColumnWidth:    6.382978723% !default;
$fluidGridGutterWidth:    2.127659574% !default;

$baseFontSize:          13px !default;
$baseLineHeight:        18px !default;