/********************************************
*
* Main Structure
*
********************************************/

html  {
  background: #ffffff;
}
body {
  color: $default-colour;  
}
.container {
  overflow: hidden;
}
.wrapper {
  width: $width;
  margin: 0 auto;
}

#site-header {

}

#site-footer {
  nav {
    ul {
      margin:0 auto;
      li {
        display: inline;
      }
    }
  }
}

#site-nav {
  ul {
    margin:0 auto;
    width:$width;
    li {
      display: inline;
    }
  }
}

#branding {
  padding-top:$baseline;
  clear:both;
  overflow:hidden;
}