//Forms

form {

}

fieldset {

}

label {
  padding: 8px 0 0 0;
  margin: 0 10px 8px 0;
  @include font-size();
  line-height: $baseline * 2;
}



.field {
  margin: $baseline * 2 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  
}

select {
  height: 40px;
}

input[type="radio"],
input[type="checkbox"] {

}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  padding: 8px;
  border: 1px solid $borders;
  @include border-radius($border-radius);
}

optgroup {

}

button[type=submit],
input[type='submit'] {
  @include button($mid-grey);
}