//Forms

form {

}

fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;
}
legend {
  border: 0 none;
  margin: 0;
  padding: 0;
  width: 100%; // double check in IE, etc!
  overflow: hidden;
  span.legend { // needed for cross-browser consistency
    display: block;
  }
}

label {
  padding: 8px 0 0 0;
  margin: 0 10px 8px 0;
  @include font-size();
  line-height: $baseline * 2;
}



.field {
  margin: $baseline * 2 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  
}

select {
  height: 40px;
}

input[type="radio"],
input[type="checkbox"] {

}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  padding: 8px;
  border: 1px solid $borders;
  @include border-radius($border-radius);
}

optgroup {

}

button[type=submit],
input[type='submit'] {
  @include button($mid-grey);
}

.form {
  .required {
    color: $red;
    display: block;
  }
  .field-textbox, .field-selectbox {
    background: $really-light-grey;
    border: 1px solid $light-grey;
  }
  .field-textbox, .field-selectbox {
    &:active, &:focus {
      border: 1px solid $highlight-colour;
    }
  }
  .form-left {
    float: left;
    width: 48%;
  }
  .form-right {
    float: right;
    width: 48%;
  }
}
.field-error {
  color: $red;
  @include font-size(1.3);
  vertical-align: middle;
  padding: 10px 0 10px 20px;
  background: url(../images/icons/validation.png) no-repeat 0 13px;
  display: block;
}
.field-required {
  color: $red;
}
.field-checkboxlist {
  .field {
    @include clearfix;
    margin: $baseline 0;
  }
  input[type=checkbox] {
    float: left;
    margin: 4px 10px 0 0;
  }
  label {
    height: auto;
    overflow: hidden;
    display: block;
    padding: 0;
    margin: 0;
  }
}
.field-radiolist {
  @extend .field-checkboxlist;
  input[type=radio] {
    float: left;
    margin: 4px 10px 0 0;
  }
}