h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  margin-bottom: $baseline * 1;
  text-transform: Capitalize;
}
h1 {
  @include font-size(3, 4);
}
h2 {
  @include font-size(2.4, 3);
}
h3 {
  @include font-size(1.8, 2);
}
h4 {
  @include font-size(1.6, 2);
}
h5 {
  @include font-size(1.2, 2);
}
h6 {
  @include font-size(1, 2);
}
