h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  margin-bottom: $baseline * 1;
  text-transform: Capitalize;
}
h1 {
  font-size: 30px;
	line-height: $baseline * 4;
}
h2 {
  font-size: 24px;
  line-height: $baseline * 3;
}
h3 {
  font-size: 18px;
  line-height: $baseline * 2;
}
h4 {
  font-size: $font-size;
  line-height: $baseline * 2;
}
h5 {
  font-size: 12px;
  line-height: $baseline * 2;
}
h6 {
  font-size: 10px;
  line-height: $baseline * 2;
}
