#sidebar {
  @include column(3, $last-child: true);
  section.widget {
    position: relative;
    margin-bottom: $baseline * 2;
    border-bottom: 1px solid $borders;
    h4, h5 {
      margin-bottom: 0;
    }
    ul {
      @include unlistify();
    }
    li {
      margin-bottom: $baseline;
      border-bottom: 1px dotted $borders;
      padding-bottom: $baseline;
      position: relative;
      a {
        @include unlinkify();
      }
      &:after {
        content: url(../images/icons/icon-chevron.png);
        display: block;
        width: 22px;
        height: 35px;
        position: absolute;
        right: 0;
        top: 30%;
        @include opacity(0);
      }
      &:hover {
        &:after {
          @include opacity(0.3);
          right: -5px;
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }
    &:last-child {
      border-bottom: none;
    }
    .rss {
      position: absolute;
      text-indent: -9999em;
      top: 0;
      right: 0;
      display: block;
      width: 24px;
      height: 24px;
      overflow: hidden;
      background: transparent url('../images/icons/icon-rss.png') no-repeat 0 0;
      @include opacity(0.5);
      &:hover {
        @include opacity(1);
      }
    }
  }
  .cta {
    margin-left: 0;
  }
}