#site-header {
  margin: $baseline * 3 0;
  position: relative;
  #branding {
    float: left;
    clear:both;
    overflow:hidden;
    a {
      @include font-size(4.5, 6);
      font-weight: bold;
      font-family: $sans;
      color: $white!important;
      &:hover {
        color: $white;
      }
    }
  }
  .mini-search {
    float: right;
    margin-top: 46px;
    margin-bottom: 20px;
  }
}

#site-nav {
  @include unlistify();
  clear: both;
  #mobile-menu {
    display: none;
  }
  ul {
    overflow: hidden;
    border-bottom: 1px solid $white;
    min-height: 33px;
    li {
      display: block;
      float: left;
      margin-right: $gridGutterWidth;
      padding: 0;
      a {
        font-weight: bold;
        display: block;
        color: $white;
        padding-bottom: 10px;
        &:hover {
          text-decoration: none;
          color: $highlight-color;
          border-bottom: 2px solid $white;
          padding-bottom: 13px;
        }
        &.active {
          border-bottom: 5px solid $white;
          padding-bottom: 10px;
        }
      }
    }
  }
}

@mixin site-header-small-screen {
  #site-header {
    margin: 0 0 10px 0;
    #branding {
      float: none;
      a {
        @include font-size(2.5, 5);
      }
      p {
        display: none;
      }
    }
    .mini-search {
      float: none;
      margin-top: 0;
      display: none;
    }
  }

  #site-nav {
    #menu-btn {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      padding: 20px;
      @include font-size(1.4);
      color: $white;
      cursor: Pointer;
    }
    ul {
      overflow: hidden;
      min-height: 0px;
      &.closed {
        height: 0;
      }
      li {
        display: block;
        float: none;
        margin: 0;
        a {
          text-decoration: none;
          border-bottom: none;
          padding: 7px 0;
          border-top: 1px solid $light-grey;
          &:hover {
            border-bottom: none;
            padding-bottom: 7px;
          }
          &.active {
            border-bottom: none;
            padding-bottom: 7px;
          }
        }
      }
    }
  }
}

@mixin site-header-small-screen {
  #site-header {
    margin: 0 0 10px 0;
    #branding {
      float: none;
      a {
        @include font-size(2.5, 5);
      }
      p {
        display: none;
      }
    }
    .mini-search {
      float: none;
      margin-top: 0;
      display: none;
    }
  }

  #site-nav {
    #menu-btn {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      padding: 20px;
      @include font-size(1.4);
      color: $white;
      cursor: Pointer;
    }
    ul {
      overflow: hidden;
      min-height: 0px;
      &.closed {
        height: 0;
      }
      li {
        display: block;
        float: none;
        margin: 0;
        a {
          text-decoration: none;
          border-bottom: none;
          padding: 7px 0;
          border-top: 1px solid $light-grey;
          &:hover {
            border-bottom: none;
            padding-bottom: 7px;
          }
          &.active {
            border-bottom: none;
            padding-bottom: 7px;
          }
        }
      }
    }
  }
}

@mixin site-header-medium-screen {
  #site-header {
    #site-nav {
     ul {
        li {
          a {
            @include font-size(1.4);
          }
        }
      }
    }
  }
}