
/********************************************
*
* Modules
*
********************************************/

.pagination{
  position:relative;
  .center{
    text-align:center;
  }
  ul {
    width:auto;
    display:table;
    margin:0 auto;
    li {
      display:inline;
      color:#fff;
      margin-right:1px;
    }
    .active a {
      color:$black;
      background:$white;
    }
    a {
      color:$white;
      &:hover {
        color:$black;
      }
    }
  }
  .prev,
  .next {
    bottom:0;
    position: absolute;
  }
  .prev {
    left:0;
  }
  .next {
    right:0;
  }
}
