/********************************************
*
* Main Structure
*
********************************************/

html  {
  background: $white;
}
body {
  color: $black;  
}
.container {
  overflow: hidden;
}
.wrapper {
  width: $width;
  margin: 0 auto;
  height: 100%;
}
#footer {
  #footer_nav {

  }
}
