%article#blog
  %header
    %h1
      = lorem.words (3 + rand(5))
    .vcard
      by
      %address.author
        %a{:title=>"Posts by John Doe", :href=>"#"}
          John Doe
        on
      %time{:datetime=>"2009-11-04", :class=>"published updated"}
        November 4th, 2009
  %figure
    - img_placehold 642, 300
    %figcaption
      fig.1
  - (3 + rand(3)).times do
    %p
      = lorem.sentences (2 + rand(8))
      
  %footer
   