%article.blog-post-CTA.col-3
  - img_placehold 222, (222/16)*9
  %header
    %h3
      = lorem.words (3 + rand(5))
    %time{:datetime=>"2009-11-04", :class=>"published updated"}
      November 4th, 2009
  %p
    = lorem.sentences (1)
  .social
  
  %a.read-more
    Read more &rarr;