= partial('includes/modules/blog/blog-subscribe-widget')
/ = partial('includes/modules/search/mini-search', :locals=>{:name=>"search_posts", :title=>"Search Posts", :widget=>true})
= partial('includes/modules/blog/blog-categories-widget')
= partial('includes/modules/blog/blog-archives-widget')
= partial('includes/modules/cta/cta-list', :locals=>{:count=>2, :width=>"320", :height=>"320"})