%article.blog-post-CTA
  %figure
    - img_placehold 726, (726/16)*9
  %header
    %time{:datetime=>"2009-11-04", :class=>"published updated"}
      November 4th, 2009
    %a{:href=>"blog-post.html", :title=>"title of blog post"}
      = lorem.words (3 + rand(5))