%section#archives-widget.widget
  %header
    %h3
      Archives
  %ul
    - ['January', 'February', 'March', 'April', 'May', 'June'].each do |month|
      %li
        %a{:href=>"#",:title=>"Archive description"}      
          #{month} 2012 (#{1+rand(4)})