%section.cta{:class=>"cta"}
	= image_tag("http://lorempixel.com/g/306/200/abstract/8/CTA%20Size-306x200")
	%h2	CTA Title
	%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	%a.button{:href => ""}
		Button text			
