/********************************************
*
* Main Structure
*
********************************************/

html  {
  background: #ffffff;
  margin: $gutters;
}
.wrapper {
  width: $width;
  margin: 0 auto;
}
#site-header {
  margin: $baseline * 3 0;
  position: relative;
  #branding {
    float: left;
    clear:both;
    overflow:hidden;
    a {
      @include font-size(4.5, 6);
      font-weight: bold;
      color: $black!important;
      &:hover {
        color: $black;
      }
    }
  }
  .mini-search {
    float: right;
    margin-top: 47px;
    margin-bottom: 20px;
  }
}
#site-nav {
  clear: both;
  #mobile-menu {
    display: none;
  }
  ul {
    overflow: hidden;
    border-bottom: 1px solid $black;
    min-height: 33px;
    li {
      display: block;
      float: left;
      margin-right: $gutters;
      a {
        font-weight: bold;
        display: block;
        color: $black;
        padding-bottom: 10px;
        &:hover {
          text-decoration: none;
          color: $highlight-color;
          border-bottom: 2px solid $black;
          padding-bottom: 13px;
        }
        &.active {
          border-bottom: 5px solid $black;
          padding-bottom: 10px!important;
        }
      }
    }
  }
}
#site-footer {
  padding: $baseline * 3 0;
  margin: $baseline * 3 0;
  border-top: 1px solid $borders;
}
#footer-nav {
  ul {
    li {
      display: inline-block;
      margin-right: 20px;
    }
  }
}
#sidebar {
  section.widget {
    margin-bottom: $baseline * 2;
    padding-bottom: $baseline * 2;
    border-bottom: 1px solid $borders;
    ul {
      list-style: none;
    }
  }
}
#page-header {
  padding-bottom: $baseline * 1;
  margin-bottom: $baseline * 1;
}


