#contact-form {
  .required {
    color: $red;
  }
  label {
    display: block;
    vertical-align: top;
  }
  input[type="text"],
  input[type="email"],
  textarea,
  select {
    @include column-width(5);
  }
  select {
    height: 38px;
    @include column-width(5);
  }
  textarea {
    height: 100px;
    @include column-width(5);
  }
  .field {
    position: relative;
  }
  .field-error {
    color: $red;
    @include font-size(1.6);
    margin-left: $gridGutterWidth;
    vertical-align: middle;
    padding: 10px 0 10px 0px;
    background: url(../images/icons/icon-validation.png) no-repeat 0 6px;
    position: absolute;
  }
}