/ START #events-listing

%section.events-listing
  %header
    %h2
      - if defined? title
        = title
      - else  
        Upcoming Events
  %ul
    - (2 + rand(2)).times do
      %li.event-item
        %a{:href=>"#",:title=>"Brief summary of article"}
          %h3
            = lorem.words 1+rand(5)
          %time{:datetime=>"2012-04-13"}
            = lorem.date
          %p
            = lorem.words (6 + rand(20))
 
/ END #events-listing