@mixin block{
  clear:both;
  margin:$baseline 0;
  overflow:hidden;
}
// Legacy support for inline-block in IE7
@mixin inline-block {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}
@mixin font-face($name, $filename, $src: fonts, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-family: $name;
    src: url('#{$src/$filename}.eot');
    src: url('#{$src/$filename}.eot?iefix') format("eot"), url('#{$src/$filename}.woff') format("woff"), url('#{$src/$filename}.ttf') format("truetype"), url('#{$src/$filename}.svg#webfontZam02nTh') format("svg");
    font-weight: $font-weight;
    font-style: $font-style; 
    } 
}

// Converts pixels to em
@mixin px-to-em($px, $base: 16){
  font-size: #{$px/$base}em;/*16 x !ems = !pixels*/
}
// Converts pixels to rem
@mixin px-to-rem($px, $base: 16){
  font-size: #{$px/$base}rem;
}

// Sets link colours
// Inspired by Compass
@mixin link-colours($normal, $hover: false, $active: false, $visited: false, $focus: false) {
  color: $normal;
  @if $visited {
    &:visited {
      color: $visited;
    }
  }
  @if $focus {
    &:focus {
      color: $focus;
    }
  }
  @if $hover {
    &:hover {
      color: $hover;
    }
  }
  @if $active {
    &:active {
      color: $active;
    }
  }
}

@mixin clearfix {
  /* For modern browsers */
  &:before,
  &:after {
    content:"";
    display:table;
  }
  &:after {
    clear:both;
  }
  zoom:1; /* IE6/IE7 */
}