---
  page_title: Blog
  tag_id: blog
  hide_from_nav: false
  has_page_header: false
  layout: two-col-sidebar-right
---


- content_for :page_header do
  %h1
    Hippo Blog
- content_for :content do

  %section#featured-post
    = partial('includes/modules/blog/blog-article-snippet', :locals=>{:featured=>true})

  %section#previous-posts
    %header
      %h2 Previous posts
    - 3.times do
      = partial('includes/modules/blog/blog-article-snippet', :locals=>{:featured=>false})

- content_for :sidebar do
  = partial('includes/modules/blog/blog-sidebar')
