---
  page_title: Blog
  body_id: blog
---

#content.col-8
  = partial('includes/modules/blog-article')
  %section#relevant-posts
    - (3).times do
      = partial('includes/modules/blog-post-CTA')
#sidebar.col-4
  =partial('includes/modules/subscribe-widget')