---
  page_title: Case Studies
  tag_id: case-studies
  hide_from_nav: true
---

- content_for :page_header do
  %h1
    Case Studies
- content_for :content do
  - 5.times do
    = partial('includes/modules/case-study')