---
  page_title: Contact Us
  tag_id: contact-us
---

- content_for :page_header do
  %h1
    Contact Us
- content_for :content do
  = partial('includes/modules/contact-form')
- content_for :sidebar do
  = partial('includes/modules/widgets/contact-widget')
  = partial('includes/modules/cta/generic-cta')