---
  page_title: Contact Us
  tag_id: contact-us
---

%header#page-header
  = partial('includes/modules/nav/breadcrumbs')
  %h1
    Get in touch with Penn

.row
  #sidebar

    %h3 Contact us
    %nav
      %ul
        %li
          %a{:href=>"content-page.html", :title=>"Directions"} Directions to Penn
        %li
          %a{:href=>"content-page.html", :title=>"Travel"} Travel Information

    = partial('includes/modules/widgets/contact-widget')

  #content
    = partial('includes/modules/contact-form')
    
