---
  page_title: Frequently Asked Questions
  tag_id: faqs
---

#content.col-8
  = partial('includes/modules/contact-form')
  
#sidebar.col-4.last
  = partial('includes/modules/widgets/contact-widget')
  = partial('includes/modules/cta/generic-cta')