---
  page_title: Contact Us
  tag_id: contact-us
---
.row
  #content.span9
    = partial('includes/modules/contact-form')
    
  #sidebar.span3.last
    = partial('includes/modules/widgets/contact-widget')
    = partial('includes/modules/cta/generic-cta')