---
  page_title: Events
  tag_id: events
---

- content_for :page_header do
  %h1 Events
- content_for :content do
  = partial('includes/modules/events/events-listing', :locals=>{:include_featured=>true})
  = partial('includes/modules/pagination')
- content_for :sidebar do
  = partial('includes/modules/news/news-widget')
  = partial('includes/modules/news/news-widget')