---
  page_title: Events
  tag_id: events
---

%header#page-header
  %h1
    Events
.row
  #content
    = partial('includes/modules/events/events-listing', :locals=>{:include_featured=>true})
    = partial('includes/modules/pagination')
  #sidebar
    = partial('includes/modules/news/news-widget')
    = partial('includes/modules/news/news-widget')