---
  page_title: Form Controls
  tag_id: form-controls
---
  

- content_for :page_header do
  %h1
    Form Controls

- content_for :content do
  %p Showing common form controls

  .form
    %h2
      Checkbox List

    - form_checkboxlist 4, "Please select one or more option", true

    %h2
      Radio List

    - form_radiolist 4, "Please select an option"

    %h2
      Simple Text box

    - form_textbox 

    %h2
      Text area

    - form_textarea 

    %h2
      Select box

    - form_selectbox
   
    