---
  page_title: Mego — Rapid Prototyping Framework
  tag_id: home
---

%header#page-header
  = partial('includes/modules/carousel')

#content.col-9
  = partial('includes/modules/cta/cta-list', :locals=>{:count=>6})
    
#sidebar.col-3.last
  = partial('includes/modules/news/news-widget')
  = partial('includes/modules/events/events-widget')
  
