---
  page_title: Mego
  body_id: home
---

#container
  %section#cta-list
    - 3.times do |i|
      = partial('includes/modules/generic_cta', :locals=>{:i=>i})
  
  %section#welcome
    %p
      = lorem.paragraph
      this is a
      %a{:href => '#'}
        link
