%div#container
  .wrapper
    %section#cta-list
      = partial('includes/modules/generic_cta')
      = partial('includes/modules/generic_cta')
      = partial('includes/modules/generic_cta')
    
    %section#welcome
      %p
        = lorem.paragraph
        this is a
        %a{:href => '#'}
          link
