---
  page_title: Mego — Rapid Prototyping Framework
  nav_title: Home
  tag_id: home
  nav_pos: 1
---

- content_for :page_header do
  = partial('includes/modules/carousel')

- content_for :content do
  = partial('includes/modules/cta/cta-list', :locals=>{:count=>6})

- content_for :sidebar do
  = partial('includes/modules/news/news-widget')
  = partial('includes/modules/events/events-widget')
