---
  page_title: Garndiffaith Community Energy
  tag_id: home
---

%header#page-header
  = partial('includes/modules/carousel')

#content.col-8
  = partial('includes/modules/cta/cta-list', :locals=>{:count=>4})
    
#sidebar.col-4.last
  = partial('includes/modules/news/news-widget')
  = partial('includes/modules/events/events-widget')
  
