---
  page_title: Location
  tag_id: location
---

%section#content
  %header
    %h1 Location Title
  - 3.times do
    %p
      = lorem.paragraph
  %a.button{:href=>"locations.html"}
    &larr; Back to Projects
%section#sidebar
  %section#location-widget.widget
    %h2 Locations
    %ul
      - 4.times do |i|
        %li
          %a{:href=>"location.html"}
            = lorem.words 2+rand(3)

    = partial('includes/modules/cta/generic-cta')
