---
  body_id: news-item
---

%article.news-item
  %header
    %h2
      = lorem.words (3 + rand(5))
    %time{:datetime=>"2012-04-13"}
      13th April 2012
  = image_tag("http://placehold.it/306x200")
  = partial("includes/modules/random-content")
  
  %a.button{:href=>"/news"}
    &larr; Back
  %footer#news-footer
    = partial("includes/modules/facebook-like")