---
  page_title: News Listing
  body_id: news-list
---

#content.col-8
  = partial('includes/modules/news-listing', :locals=>{:include_featured=>true})
  = partial('includes/modules/pagination')
#sidebar.col-4.last
  = partial('includes/modules/events-widget')
  = partial('includes/modules/news-widget')