---
  body_id: Search Results
---



#content.col-8
  %h1
    Search Results
    
  = partial('includes/modules/mini-search')

  - (3 + rand(6)).times do
    = partial('includes/modules/search-item')
#sidebar.col-4.last
  = partial('includes/modules/events-widget')
  = partial('includes/modules/news-widget')