/START facebook
%section.facebook
  %h3
    Woo Facebook!
  .user
    Facebook Username
  %p Check out this Facebook nonsense I posted to my 'wall' to appear down-with-the-kids.
  .time
    3 hours ago
  %a
    Visit us on Facebook &rarr;
/END facebook