/START twitter
%section#twitter
  %h3
    What are we up to?
  - 2.times do
    .tweet      
      .user
        @garndiffaith
        %span
          Full Name
      %p Check out this #tweet that I sent to @someone.
      .time
        3 hours ago
        
  %a
    Follow us on twitter &rarr;
      
/END twitter