.coffee-slider {
  position:relative;
  margin: 0;
  height: auto;
  background: url(../images/icons/loading.gif) no-repeat center center;
  figure {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 0;
    margin-bottom: 10px;
    img {
      margin-bottom: 0;
    }
    figcaption {
      background: rgba(0,0,0,.7);
      position: absolute;
      padding: 20px;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      color: $white;
      margin-bottom: 0;
      font-style: normal;
      font-family: $sans;
      @include font-size();
      h2 {
        color: $white;
      }
    }
  }
  .btn {
    background: transparent url(../images/nav.png) no-repeat 0 0;
    display: block;
    width: 38px;
    height: 65px;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    top: 40%;
    @include opacity(0.2);
    &:hover {
      @include opacity(0.6);
    }
    &.disabled {
      @include opacity(0.1);
    }
  }
  .prev {
    left:20px;
  }
  .next {
    right:20px;
    @include rotate(180deg);
  }
  .dot-nav {
    text-align: center;
    margin-top: 20px;
    ol {
      list-style:none;
      li {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 12px;
        text-indent: -9999px;
        margin-left: 0;
        cursor: pointer;
        background: transparent url(../images/dot.png) no-repeat 0 0;
        @include opacity(0.2);
        &.active {
          @include opacity(0.5);
        }
        &:hover, :focus {
          @include opacity(0.6);
        }
      }
    }
  }
}

@mixin carousel-small-screen {
  .carousel {
    figure {
      figcaption {
        position: relative;
        margin-top: 0;
        padding: 5px;
        @include font-size(1.2);
      }
    }
    .btn {
      @include transform(scale(0.6));
      top: 30%;
      &.next {
        @include transform(scale(0.6) rotate(180deg));
      }
    }
  }
}