#contact-form {
  .required {
    color: $red;
  }
  label {
    width:$col_total_width * 2;
    display: inline-block;
    vertical-align: top;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width:$col_total_width * 4;
  }
  textarea {
    height: 100px;
  }
  .field-error {
    color: $light-grey;
    margin-left: $gutters;
    vertical-align: middle;
    display: none;
  }
}