#contact-widget {
  .map {
    margin-bottom: $baseline;
  }
  .vcard {
    .adr,.tel, .email {
      margin-bottom: $baseline;
    }
  }
  .read-more {
    margin-bottom:$baseline*2;
  }
  .map {
    a {
      @include font-size(0.8);
      opacity: 0.4;
    }
  }
}