.events-listing {
  h2 {
    margin-bottom: $baseline * 2;
  }
  .event-item {
    overflow: hidden;
    display: block;
    margin-bottom: $baseline * 2;
    border-bottom: 1px solid $borders;
    > a {
      overflow: hidden;
      display: block;
      @include unlinkify();
    }
    header,
    figure {
      margin-bottom: $baseline * 2;
    } 
    &:hover {
      color: $black;
    }
  }
}

