#flickrGallery {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  background-color: rgb(0, 0, 0); }

.flickrGallery-thumbsContainer {
  padding: 17px;
  height: auto;
  bottom: 0px;
  overflow: hidden;
  display: block;
  position: absolute;
  z-index: 3;
  background-color: rgb(0, 0, 0);
  img {
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    width: 31px;
    height: 31px; }
  a {
    padding: 0px;
    border: solid rgb(255, 255, 255);
    width: 31px;
    height: 31px;
    float: left;
    cursor: pointer;
    &.flickrGallery-thumb-selected {
      border-width: 1px;
      margin: 1px; }
    &.flickrGallery-thumb {
      border-width: 0px;
      margin: 2px;
      &:hover {
        border-width: 2px;
        margin: 0px; } } } }

#flickrGallery-previewView {
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: 1; }

.flickrGallery-loadingContainer {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  display: block;
  position: absolute;
  z-index: 2;
  background-color: rgba(1, 0, 0, 0.75); }

.flickrGallery-loadingIcon {
  left: 50%;
  top: 50%;
  margin-top: -16px;
  margin-left: -16px;
  position: absolute; }

.flickrGallery-controlsContainer {
  top: 0px;
  height: auto;
  overflow: hidden;
  display: block;
  position: relative;
  z-index: 4;
  background-color: rgb(0, 0, 0); }

.flickrGallery-playPauseButton {
  margin: 17px 0px 17px 1px;
  width: 62px;
  height: 31px;
  float: left;
  cursor: pointer; }

#flickrGallery {
  .paused {
    background-image: url("../images/pause_up.gif");
    &:hover {
      background-image: url("../images/pause_down.gif"); } }
  .playing {
    background-image: url("../images/play_up.gif");
    &:hover {
      background-image: url("../images/play_down.gif"); } } }

.flickrGallery-leftButton {
  margin: 17px 0px 17px 17px;
  width: 31px;
  height: 31px;
  float: left;
  cursor: pointer;
  background-image: url("../images/left_up.gif");
  &:hover {
    background-image: url("../images/left_down.gif"); } }

.flickrGallery-rightButton {
  margin: 17px 17px 17px 0px;
  width: 31px;
  height: 31px;
  float: right;
  cursor: pointer;
  background-image: url("../images/right_up.gif");
  &:hover {
    background-image: url("../images/right_down.gif"); } }