.gallery {
  .carousel {
    margin-bottom: $baseline * 2;
  }
}

.thumbnails {
  width: 240px;
  margin: 0 auto;
  figure {
    width: 240px;
    height: 180px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    clip:rect(0px, 0px, 10px, 10px);
    figcaption {
      h2 {
        font-size: 16px;
      }
    }
    &.active {
      position: relative;
      &:after {
       position: absolute;
       top: 0;
       left: 0;
       content: " ";
       width: 240px;
       height: 180px;
       border-bottom: 1px solid $highlight-colour;
      }
    }
    &:hover {
      &:after {
       position: absolute;
       top: 0;
       left: 0;
       content: " ";
       width: 240px;
       height: 174px;
       border-bottom: 3px solid $highlight-colour;
      }
    }
  }
  .btn {
    top: 30%;
    @include transform(scale(0.5));
    &.next {
      @include transform(scale(0.5) rotate(180deg));
      right: -80px;
    }
    &.prev {
      left: -80px;
    }
  }
}
