.gallery {
  .gallery-carousel {
    margin-bottom: $baseline * 2;
  }
}

.thumbnails {

  $slideWidth: 240px;
  $slideHeight: 118px;

  width: $slideWidth;
  margin: 0 auto;
  figure {
    width: $slideWidth;
    height: $slideHeight;
    margin: 0;
    padding: 0;
    cursor: pointer;
    clip:rect(0px, 0px, 10px, 10px);
    img {
      width: $slideWidth;
      height: $slideHeight;
    }
    figcaption {
      h2 {
        font-size: 16px;
      }
    }
    &.active {
      position: relative;
      opacity: 0.2;
      &:after {
       position: absolute;
       top: 0;
       left: 0;
       content: " ";
       width: $slideWidth;
       height: $slideHeight - 3px;
       border-bottom: 3px solid $highlight-colour;
      }
    }
    &:hover {
      &:after {
       position: absolute;
       top: 0;
       left: 0;
       content: " ";
       width: $slideWidth;
       height: $slideHeight;
       border-bottom: 3px solid $highlight-colour;
      }
    }
  }
  .btn {
    top: 30%;
    @include transform(scale(0.5));
    &.next {
      @include transform(scale(0.5) rotate(180deg));
      right: -80px;
    }
    &.prev {
      left: -80px;
    }
  }
}
