
.info-box {
  padding: 15px;
  color: $white;  
  width: 250px;
  background: #000;
  margin-bottom: 100px;
  @include opacity(0.95);
  @include border-radius(3px);
  > img {
    background: url("/images/close-btn.png") no-repeat 0 0;
  }
  h3 {
    @include font-size();
    line-height: 1em;
    font-weight: bold;
    margin-bottom: 10px;
    color: $white;
  }
  p {
    @include font-size(1);
    line-height: 1em;
    margin-bottom: 10px;
    color: $white;
  }
  &:after {
  	bottom: 100%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }
  &:after {
  	border-bottom-color: #000000;
  	border-width: 10px;
  	left: 50%;
  	margin-left: -10px;
  }
  .more {
    @include font-size(1);
    color: $highlight-colour;
    cursor: pointer;
    margin:0;
  }
  ul {
    list-style-type: none;
    margin-bottom:10px;
    li {
      margin: 0 0 5px 0;
      padding: 0 0 5px 24px;
      border-bottom: 1px dotted #333;
      @include font-size();
      line-height: 1em;
      text-transform: capitalize;
      &.film {
        background: url("/images/film-small.png") no-repeat 0 0;
      }
      &.tv {
        background: url("/images/tv-small.png") no-repeat 0 0;
      }
      &:last-child {
        margin-bottom: none;
      }
      h3 {
        @include font-size(1.1);
        margin-bottom: 0;
      }
    }      
  }
}
