.mini-search {
  overflow: hidden;
  label {
    float:left;
    margin: 5px 10px 0 0;
  }
  .field-search {
    float: left;
    width: 160px;
    margin: 5px 10px 5px 0;
  }
  .btn-search {
    float: left;
    margin: 5px 0;
  }
}