#social {
  ul {
    clear: both;
    overflow: hidden;
    list-style: none;
    .social-share {
      float: left;
      .fb-like iframe {
        width: 100px !important;
      }
      .fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
        display: none !important;
      }
      .twitter-share-button {
        width: 100px !important;
      }
    }
  }
}